<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITEMAP_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/siteMap.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>congcv.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>congcv.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>congcv.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>congcv.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>congcv.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriggerAppServlet</servlet-name>
        <servlet-class>congcv.controller.TriggerAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>congcv.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>congcv.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookStoreServlet</servlet-name>
        <servlet-class>congcv.controller.BookStoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriggerAppServlet</servlet-name>
        <url-pattern>/TriggerAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreServlet</servlet-name>
        <url-pattern>/BookStoreServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
    -->
    <error-page>
        <error-code>404</error-code>
        <location>/FileNotFound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/InternalServerError.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>CongEnglishDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
